HEROES OF PYMOLI DATA ANALYSIS

In [2]:
# Dependencies
import pandas as pd
import os
import numpy as np
#HeroesOfPymoli/purchase_data2.json

In [3]:
# Store filepath in a variable
file_path = input("Please enter file path: ")

Please enter file path: HeroesOfPymoli/purchase_data2.json

In [4]:
file_one = file_path
file_one_df = pd.read_json(file_one)
file_one_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

PLAYER COUNT

In [5]:
#check dataframe for empty cells or NAN 
clean_file_one_df = file_one_df.dropna(how="any")
clean_file_one_df.count()

Age          78
Gender       78
Item ID      78
Item Name    78
Price        78
SN           78
dtype: int64

In [6]:
total_players = len(file_one_df['SN'].unique())
total_players = pd.DataFrame([{"Total Players": total_players}])
total_players

   Total Players
0             74

PURCHASING ANALYSIS (TOTAL)

In [7]:
total_unique_items = len(file_one_df['Item Name'].unique())
#total_unique_items
average_price = file_one_df['Price'].mean()
#average_price
total_purchases = len(file_one_df)
#total_purchases
total_revenue = file_one_df['Price'].sum()
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items":total_unique_items,
                                        "Average Price":average_price,
                                        "Number of Purchases":total_purchases,
                                        "Total Revenue":total_revenue}])


purchasing_analysis_df = purchasing_analysis_df[['Number of Unique Items',
                                                'Average Price',
                                                'Number of Purchases',
                                                'Total Revenue']]
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("{0:,.2f}%".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("{0:,.2f}%".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                      63         2.92%                   78       228.10%

GENDER DEMOGRAPHICS

In [8]:
demographic_count = file_one_df['Gender'].value_counts()
demographic_count_df = pd.DataFrame(demographic_count)
demographic_count_df = demographic_count_df.rename(columns={"Gender":"Total Count"})
demographic_percent = [((x/total_players["Total Players"][0])*100) for x in demographic_count_df["Total Count"]]

demographic_count_df["Percentage of Players"] = demographic_percent
demographic_count_df["Percentage of Players"] = demographic_count_df["Percentage of Players"].map("{0:,.2f}%".format)
demographic_count_df = demographic_count_df[['Percentage of Players','Total Count']]
demographic_count_df

#demographic_percent = demographic_count["Gender"].map

                      Percentage of Players  Total Count
Male                                 86.49%           64
Female                               17.57%           13
Other / Non-Disclosed                 1.35%            1

PURCHASING ANALYSIS (GENDER)

In [20]:
male = demographic_count_df["Total Count"]['Male']
female = demographic_count_df["Total Count"]['Female']
non_gender_specific = demographic_count_df["Total Count"]['Other / Non-Disclosed']
avg_purchase_male = file_one_df.loc[file_one_df["Gender"] == "Male"]
# print(f"\nTotal: {total_gender}")
print(f"Male: {male}")
print(f"Female: {female}")
print(f"non_specfic: {non_gender_specific}")

Male: 64
Female: 13
non_specfic: 1