HEROES OF PYMOLI DATA ANALYSIS

In [96]:
# Dependencies
import pandas as pd
import os
import numpy as np
#HeroesOfPymoli/purchase_data2.json

In [97]:
# Store filepath in a variable
#file_path = input("Please enter file path: ")
file_path = "HeroesOfPymoli/purchase_data2.json"

In [98]:
file_one = file_path
file_one_df = pd.read_json(file_one)
file_one_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

PLAYER COUNT

In [99]:
#check dataframe for empty cells or NAN 
clean_file_one_df = file_one_df.dropna(how="any")
clean_file_one_df.count()

Age          78
Gender       78
Item ID      78
Item Name    78
Price        78
SN           78
dtype: int64

In [100]:
total_players = len(file_one_df['SN'].unique())
total_players = pd.DataFrame([{"Total Players": total_players}])
total_players

   Total Players
0             74

PURCHASING ANALYSIS (TOTAL)

In [101]:
total_unique_items = len(file_one_df['Item Name'].unique())
#total_unique_items
average_price = file_one_df['Price'].mean()
#average_price
total_purchases = len(file_one_df)
#total_purchases
total_revenue = file_one_df['Price'].sum()
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items":total_unique_items,
                                        "Average Price":average_price,
                                        "Number of Purchases":total_purchases,
                                        "Total Revenue":total_revenue}])


purchasing_analysis_df = purchasing_analysis_df[['Number of Unique Items',
                                                'Average Price',
                                                'Number of Purchases',
                                                'Total Revenue']]
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("{0:,.2f}%".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("{0:,.2f}%".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                      63         2.92%                   78       228.10%

GENDER DEMOGRAPHICS

In [102]:
demographic_count = file_one_df['Gender'].value_counts()
demographic_count_df = pd.DataFrame(demographic_count)
demographic_count_df = demographic_count_df.rename(columns={"Gender":"Total Count"})
demographic_percent = [((x/total_players["Total Players"][0])*100) for x in demographic_count_df["Total Count"]]

demographic_count_df["Percentage of Players"] = demographic_percent
demographic_count_df["Percentage of Players"] = demographic_count_df["Percentage of Players"].map("{0:,.2f}%".format)
demographic_count_df = demographic_count_df[['Percentage of Players','Total Count']]
demographic_count_df

#demographic_percent = demographic_count["Gender"].map

                      Percentage of Players  Total Count
Male                                 86.49%           64
Female                               17.57%           13
Other / Non-Disclosed                 1.35%            1

PURCHASING ANALYSIS (GENDER)

In [103]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_file_one_df = file_one_df.groupby(['Gender'])

purchase_count = pd.DataFrame(grouped_file_one_df["Price"].count())
purchase_count = purchase_count.rename(columns={"Price":"Purchase counts"})

avg_purchase_price = grouped_file_one_df["Price"].mean()
avg_purchase_price = pd.DataFrame(avg_purchase_price)
avg_purchase_price = avg_purchase_price.rename(columns={"Price":"Average Purchase Price"})

total_purchase_value = grouped_file_one_df["Price"].sum()
total_purchase_value = pd.DataFrame(total_purchase_value)
total_purchase_value = total_purchase_value.rename(columns={"Price":"Total Purchase Value"})

purchasing_analysis_df = pd.DataFrame([{"Purchase Count":purchase_count}])

#purchasing_analysis_df

In [104]:
# merge_table
dfs = [avg_purchase_price, total_purchase_value]
purchase_analysis = purchase_count.join(dfs)
#purchase_analysis

In [105]:
purchase_analysis["Normalized Totals"] = (purchase_analysis["Total Purchase Value"])/(purchase_analysis["Purchase counts"])
purchase_analysis["Total Purchase Value"] = purchase_analysis["Total Purchase Value"].map("${0:,.2f}".format)
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("${0:,.2f}".format)
purchase_analysis["Normalized Totals"] = purchase_analysis["Normalized Totals"].map("${0:,.2f}".format)
purchase_analysis

,Purchase counts,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,13,$3.18,$41.38,$3.18
Male,64,$2.88,$184.60,$2.88
Other / Non-Disclosed,1,$2.12,$2.12,$2.12