HEROES OF PYMOLI DATA ANALYSIS

In [63]:
# Dependencies
import pandas as pd
import os
import numpy as np
#HeroesOfPymoli/purchase_data2.json

In [64]:
# Store filepath in a variable
#file_path = input("Please enter file path: ")
file_path = "HeroesOfPymoli/purchase_data.json"

In [82]:
file_one = file_path
file_one_df = pd.read_json(file_one)

file_one_df_male = file_one_df.loc[file_one_df["Gender"] == "Male"]
male_unique = len(file_one_df_male["SN"].unique())
#file_one_df_male.head()
print("Number of unique male = {}".format(male_unique))

file_one_df_female = file_one_df.loc[file_one_df["Gender"] == "Female"]
female_unique = len(file_one_df_female["SN"].unique())
#file_one_df_female.head()
print("Number of unique female = {}".format(female_unique))

file_one_df.head()

Number of unique male = 465
Number of unique female = 100

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

TEST CELL (IGNORE)

In [66]:
file_test = file_one_df.loc[file_one_df["SN"] == "Aidaira26"]
file_test

     Age Gender  Item ID                Item Name  Price         SN
191   20   Male       75  Brutality Ivory Warmace   1.72  Aidaira26

PLAYER COUNT

In [67]:
#check dataframe for empty cells or NAN 
clean_file_one_df = file_one_df.dropna(how="any")
clean_file_one_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [68]:
total_players = len(file_one_df['SN'].unique())
total_players = pd.DataFrame([{"Total Players": total_players}])
total_players

   Total Players
0            573

PURCHASING ANALYSIS (TOTAL)

In [69]:
total_unique_items = len(file_one_df['Item Name'].unique())
#total_unique_items
average_price = file_one_df['Price'].mean()
#average_price
total_purchases = len(file_one_df)
#total_purchases
total_revenue = file_one_df['Price'].sum()
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items":total_unique_items,
                                        "Average Price":average_price,
                                        "Number of Purchases":total_purchases,
                                        "Total Revenue":total_revenue}])


purchasing_analysis_df = purchasing_analysis_df[['Number of Unique Items',
                                                'Average Price',
                                                'Number of Purchases',
                                                'Total Revenue']]
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("{0:,.2f}%".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("{0:,.2f}%".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         2.93%                  780     2,286.33%

GENDER DEMOGRAPHICS

In [70]:
demographic_count = file_one_df['Gender'].value_counts()
demographic_count_df = pd.DataFrame(demographic_count)
demographic_count_df = demographic_count_df.rename(columns={"Gender":"Total Count"})
demographic_percent = [((x/total_players["Total Players"][0])*100) for x in demographic_count_df["Total Count"]]

demographic_count_df["Percentage of Players"] = demographic_percent
demographic_count_df["Percentage of Players"] = demographic_count_df["Percentage of Players"].map("{0:,.2f}%".format)
demographic_count_df = demographic_count_df[['Percentage of Players','Total Count']]
demographic_count_df

#demographic_percent = demographic_count["Gender"].map

                      Percentage of Players  Total Count
Male                                110.47%          633
Female                               23.73%          136
Other / Non-Disclosed                 1.92%           11

PURCHASING ANALYSIS (GENDER)

In [71]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_file_one_df = file_one_df.groupby(['Gender'])

purchase_count = pd.DataFrame(grouped_file_one_df["Price"].count())
purchase_count = purchase_count.rename(columns={"Price":"Purchase counts"})

avg_purchase_price = grouped_file_one_df["Price"].mean()
avg_purchase_price = pd.DataFrame(avg_purchase_price)
avg_purchase_price = avg_purchase_price.rename(columns={"Price":"Average Purchase Price"})

total_purchase_value = grouped_file_one_df["Price"].sum()
total_purchase_value = pd.DataFrame(total_purchase_value)
total_purchase_value = total_purchase_value.rename(columns={"Price":"Total Purchase Value"})

purchasing_analysis_df = pd.DataFrame([{"Purchase Count":purchase_count}])

#purchasing_analysis_df

In [72]:
# merge_table
dfs = [avg_purchase_price, total_purchase_value]
purchase_analysis = purchase_count.join(dfs)
#purchase_analysis

In [73]:
purchase_analysis["Normalized Totals"] = (purchase_analysis["Total Purchase Value"])/(purchase_analysis["Purchase counts"])
purchase_analysis["Total Purchase Value"] = purchase_analysis["Total Purchase Value"].map("${0:,.2f}".format)
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("${0:,.2f}".format)
purchase_analysis["Normalized Totals"] = purchase_analysis["Normalized Totals"].map("${0:,.2f}".format)
purchase_analysis

,Purchase counts,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$2.82
Male,633,$2.95,"$1,867.68",$2.95
Other / Non-Disclosed,11,$3.25,$35.74,$3.25

AGE DEMOGRAPHICS

In [74]:
#Make bins of age groups (<10, 10-14, 15-19, etc.) till the highest range for age in data set.
maximum_age = file_one_df["Age"].max()
print("Highest range for Age in data set is {}".format(maximum_age))
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the seven bins
age_groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']

# Cut Age and place it into bins
#pd.cut(file_one_df["Age"], bins, labels=age_groups)

# Add new column to the original DF
file_one_df["Age Range"] = pd.cut(file_one_df["Age"], bins, labels=age_groups)
file_one_df.head()

Highest range for Age in data set is 45

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [75]:
# Using GroupBy in order to separate the data into fields according to "Age Range" values
grouped_file_one_byage_df = file_one_df.groupby(['Age Range'])

total_count_age_df = pd.DataFrame(grouped_file_one_byage_df["Age Range"].count())
total_count_age_df = total_count_age_df.rename(columns={"Age Range":"Total Count"})

total_count_age_df["Percentage of Players"] = (total_count_age_df["Total Count"]/
                                               total_count_age_df["Total Count"].sum())*100
total_count_age_df["Percentage of Players"] = total_count_age_df["Percentage of Players"].map("{0:,.2f}%".format)
total_count_age_df = total_count_age_df[["Percentage of Players", "Total Count"]]
total_count_age_df

          Percentage of Players  Total Count
Age Range
<10                       3.59%           28
10-14                     4.49%           35
15-19                    17.05%          133
20-24                    43.08%          336
25-29                    16.03%          125
30-34                     8.21%           64
35-39                     5.38%           42
>40                       2.18%           17

TOP SPENDERS

In [76]:
user_info_df = file_one_df[["SN", "Price"]]
user_info_grouped = user_info_df.groupby(['SN'])

user_info_grouped_SN_df = pd.DataFrame(user_info_grouped["SN"].count())
user_info_grouped_SN_df = user_info_grouped_SN_df.rename(columns={"SN":"Purchase Count"})
user_info_grouped_price_df = pd.DataFrame(user_info_grouped["Price"].mean())
user_info_grouped_price_df = user_info_grouped_price_df.rename(columns={"Price":"Average Purchase Price"})

# merge_Df
top_spender_df = user_info_grouped_SN_df.join(user_info_grouped_price_df)

# sort Df
top_spender_df = top_spender_df.sort_values(by="Purchase Count", ascending=False)
# Add Total purchase value column
top_spender_df["Total Purchase Value"]=top_spender_df["Purchase Count"]*top_spender_df["Average Purchase Price"]

# Format text in DF
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map("${0:,.2f}".format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map("${0:,.2f}".format)
top_spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Mindimnya67               4                  $3.18               $12.74
Qarwen67                  4                  $2.49                $9.97
Saedue76                  4                  $3.39               $13.56
Sondastan54               4                  $2.56               $10.24

MOST POPULAR ITEM

In [77]:
item_info_df = file_one_df[["Item ID", "Item Name", "Price"]]
item_info_grouped = item_info_df.groupby(['Item ID'])
item_info_count_grouped_df = pd.DataFrame(item_info_grouped["Item ID"].count())
item_info_count_grouped_df = item_info_count_grouped_df.rename(columns={"Item ID":"Purchase Count"})
item_info_count_grouped_df = item_info_count_grouped_df.sort_values(by="Purchase Count", ascending=False)

#get iten name & item price as DFs and join to most_popular_df later
item_info_name_df = pd.DataFrame(item_info_df["Item Name"])
item_info_price_df = pd.DataFrame(item_info_df["Price"])

#reset index
item_info_count_grouped_df = item_info_count_grouped_df.reset_index()
item_info_count_grouped_df.head()

#merge DFs
dfs = [item_info_name_df, item_info_price_df]
most_popular_df = item_info_count_grouped_df.join(dfs)
most_popular_df = most_popular_df.rename(columns={"Price":"Item Price"})

# Add Total purchase value column
most_popular_df["Total Purchase Value"]=most_popular_df["Purchase Count"]*most_popular_df["Item Price"]

#format text in DF
most_popular_df["Item Price"] = most_popular_df["Item Price"].map("${0:,.2f}".format)
most_popular_df["Total Purchase Value"] = most_popular_df["Total Purchase Value"].map("${0:,.2f}".format)

most_popular_df.head()

,Item ID,Purchase Count,Item Name,Item Price,Total Purchase Value
0,39,11,Bone Crushing Silver Skewer,$3.37,$37.07
1,84,11,"Stormbringer, Dark Blade of Ending Misery",$2.32,$25.52
2,31,9,Primitive Blade,$2.46,$22.14
3,175,9,Final Critic,$1.36,$12.24
4,13,9,Stormfury Mace,$1.27,$11.43

MOST PROFITABLE ITEMS

In [94]:
#get unformatted data by grouping 
most_profitable_df = item_info_count_grouped_df.join(dfs)
most_profitable_df = most_profitable_df.rename(columns={"Price":"Item Price"})

# Add Total purchase value column
most_profitable_df["Total Purchase Value"]=most_profitable_df["Purchase Count"]*most_profitable_df["Item Price"]

#Sort by total purchase value
most_profitable_df = most_profitable_df.sort_values(by="Total Purchase Value", ascending=False)

#test max total purchase value
max_total_purchase_value = most_profitable_df["Total Purchase Value"].max()
print("max total purchase value = ${}".format(max_total_purchase_value))

#format text in DF
most_profitable_df["Item Price"] = most_profitable_df["Item Price"].map("${0:,.2f}".format)
most_profitable_df["Total Purchase Value"] = most_profitable_df["Total Purchase Value"].map("${0:,.2f}".format)


most_profitable_df.head()

max total purchase value = $37.07

,Item ID,Purchase Count,Item Name,Item Price,Total Purchase Value
0,39,11,Bone Crushing Silver Skewer,$3.37,$37.07
6,65,8,Mercenary Sabre,$4.57,$36.56
9,107,8,"Expiration, Warscythe Of Lost Worlds",$4.53,$36.24
19,172,7,"Winterthorn, Defender of Shifting Worlds",$4.89,$34.23
15,66,7,Blood-Forged Skeletal Spine,$4.77,$33.39